@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(0,0,0,0.03);
}
.TitleApp{
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0,0,0,.1);
}

.BtnAgregar{
    cursor:pointer;
    padding:1% 5%;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: white;
    border: 1px solid rgba(0,0,0,.1);
    font-weight: bold;
    box-shadow: 2px 1px 2px rgba(0,0,0,0.1);
    width: 90%;
}

.BtnAgregar:hover{
    filter: saturate(180%);
}

.ContainerImageCategory{
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap:wrap;
  background:linear-gradient(180deg, transparent, #0a589063, transparent);
}

.DivImage{
  height: 15rem;
  display: flex;
  flex-wrap: wrap; 
  margin-bottom: 3%;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border: 1px solid rgba(0,0,0,.05);
  margin: 1%;
  box-shadow: 1px 1px 1px rgba(0,0,0,.2);
  border-radius: 10px;
}

.DivImage img{
  padding: 1%;
  height: 80%;
  transition: .3s all ease;
  border-radius: 10px;
}

.DivImage img:hover{
  transform: scale(1.1);
}

/* Estilos Curso */
body {
    padding: 60px;
  }
  
  input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    width: 100%;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 3rem;
    margin-bottom: 5px;
  }
  
  .card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    height: 0%;  
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
  }
  
  .card p {
    background-color: white;
    flex: 1;
    font-size: 1.5rem;
    margin-top: 5px;
    padding: 5px 20px 0px 20px;
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }